<div class="home">

    <div class="article">
        
        <h1>The Value of Money</h1>

        

        <img src="./img/money.jpg" alt="The Value of Money">
        
        <p>Money is a touchy subject. That’s because most of us, to a certain degree,
            associate a lot of our self-worth and identity to our job and how much money we make.
            It is, quite literally, a market valuation of our skills and competence as a person, and 
            therefore we all get a little bit testy and scooch around uncomfortably in our chairs 
            whenever money is brought up. But money is merely an arbitrary store of value. 
            It is not value itself. There are many stores of value in life. 
            Time is a form of value. Knowledge is a form of value. Happiness and other positive 
            emotions are a form of value. Money is often just the vehicle of interchanging these 
            various forms of value with one another. Money is fluid. Its value only becomes 
            realized when it’s put into motion. Therefore, money is a reflection of the owner’s 
            values and intentions.</p>

            <a href="https://markmanson.net/the-real-value-of-money">Source</a>
        
    </div>

    <div class="article">
        <h1>GMO food</h1>

        <img src="./img/food.jpg" alt="GMO food">
        
        <p>Genetically modified (GM) foods are foods derived from organisms whose genetic material 
            (DNA) has been modified in a way that does not occur naturally, e.g. through the introduction 
            of a gene from a different organism. The technology is often called “modern biotechnology” or 
            “gene technology”, sometimes also “recombinant DNA technology” or “genetic engineering”. Currently 
            available GM foods stem mostly from plants, but in the future foods derived from GM microorganisms 
            or GM animals are likely to be introduced on the market. Most existing genetically modified crops 
            have been developed to improve yield through the introduction of resistance to plant diseases or 
            of increased tolerance of herbicides. GM foods can also allow for reductions in food prices through 
            improved yields and reliability.</p>
            
            <a href="https://www.who.int/health-topics/food-genetically-modified#tab=tab_1">Source</a>
    </div>

    <div class="article">
        <h1>The View of World in 2100</h1>

        <img src="./img/future.jpg" alt="The View of World in 2100">
        
        <p>Think about you in 2100. Yeah, I know, it’s difficult. That’s because we have difficulty relating to 
            our future selves. The further into the future we look, the more of a stranger our future self is for us. 
            2100 is very far away, so it is almost impossible for us to visualize ourselves then and to feel empathy for 
            that future us. The world in 2100 will be hotter, with more extreme weather and more natural disasters such 
            as hurricanes and wildfires. How much hotter? It is impossible to know right now, as it will depend on our 
            actions during the next 80 years. The worst-case scenario of a 5ºC increase seems to be far-fetched, but there 
            is still the risk it may happen or that it may get close to it, which would be disastrous. It would turn our 
            lives upside down.</p>

            <a href="https://humanefutureofwork.com/what-will-the-world-be-like-in-2100/">Source</a>
    </div>

</div>