<h1>Portfolio</h1>
<div class="portfolio">
    
    <div class="child1">

    <div class="box">
        <img src="./img/portfolio-01.png" alt="Portfolio 1">
        <div class="container">
            <p>Amit</p>
        </div>
    </div>

    <br>

    <div class="box">
        <img src="./img/portfolio-02.png" alt="Portfolio 2">
        <div class="container">
            <p>Mary</p>
        </div>
    </div>

    <br>

    <div class="box">
        <img src="./img/portfolio-03.png" alt="Portfolio 3">
        <div class="container">
            <p>Hemansh</p>
        </div>
    </div>
</div>

<div class="child2">
    <div class="box">
        <img src="./img/portfolio-04.png" alt="Portfolio 4">
        <div class="container">
            <p>Josh</p>
        </div>
    </div>

    <br>

    <div class="box">
        <img src="./img/portfolio-05.png" alt="Portfolio 5">
        <div class="container">
            <p>Hemansh</p>
        </div>
    </div>

    <br>

    <div class="box">
        <img src="./img/portfolio-06.png" alt="Portfolio 6">
        <div class="container">
            <p>Monica</p>
        </div>
    </div>
</div>
</div>